*.jou
*.log
*.str
lowrisc-chip-imp
vivado_pid*
*~
DVEfiles
.nodeIdDynamicRanges
generated-src
ramb_result.txt
boot.bmm
*.o
*.d
*.a
*.hex
*.dump
*.riscv
examples
.Xil
.cxl.ip/
.cxl.vcs_mx.version
README.txt
boot*.bin
compile_simlib/
md5
synopsys_sim.setup
v_hdmi_tx_ss_0_ex/
vcs/
